fastapi==0.115.6
uvicorn[standard]==0.30.6
pydantic==2.9.2

# OpenAI SDK 1.x + httpx (client custom di main.py)
openai>=1.40.0,<2.0.0
httpx>=0.27.2,<0.28
requests>=2.31,<3

# ST untuk intent (boleh matiin via ST_DISABLE=1)
sentence-transformers==2.6.1
# Biarkan torch auto-resolve yang cocok untuk platform
torch>=2.2,<3

# Database (PostgreSQL)
psycopg2-binary>=2.9,<3
sqlalchemy>=2.0,<3

# Opsional util
python-dotenv>=1.0,<2
