fastapi==0.111.0
uvicorn[standard]==0.30.0
starlette==0.37.2
pydantic==2.6.0
requests==2.31.0
openai==1.40.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3

sentence-transformers==2.6.1
numpy==1.26.4

# FAISS yang paling kompatibel di banyak image
faiss-cpu==1.7.4 ; platform_system == "Linux" and platform_machine == "x86_64"

# Torch CPU (kita sudah set PIP_EXTRA_INDEX_URL)
torch==2.3.1

orjson==3.10.7
