fastapi==0.111.0
uvicorn[standard]==0.30.0
starlette==0.37.2
pydantic==2.6.0
requests==2.31.0
openai==1.40.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3

sentence-transformers==2.6.1

# numpy < 2.0 biar aman dg banyak lib native
numpy==1.26.4

# FAISS yang cocok dg Python 3.11 (tersedia di log)
faiss-cpu==1.12.0

# Torch CPU (kita sudah kasih extra index PyTorch)
torch==2.3.1

orjson==3.10.7
